/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columns, $espaciado ) {
    display: grid;
    gap: $spaces;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-columns: repeat($columns, minmax(0, 1fr));

}

@mixin button ($bgColor, $display ) {
    background-color: $bgColor;
    color: $white;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc($spaces / 2);
    display: $display;
    border: none;

    &:hover {
        background-color:  darken($bgColor, 5);
        cursor: pointer;
    }
}